trigger:
  batch: true
  branches:
    include:
      - dev
      - qas

variables:
  - name: project
    value: 'brf-fnc-http-sbus'
  - name: appName
    value: 'brf-fnc-http-sbus'
  - name:  resourceGroupName
    value: 'BRF-RG-DEVOPS'
  - name: azureSubscription
    value: 'BRF-SC-DEVOPS'
  - name: solution
    value: '**/*.sln'
  - name: buildPlatform
    value: 'Any CPU'
  - name: buildConfiguration
    value: 'Release'
  - name: BuildParameters.RestoreBuildProjects
    value: '**/*.csproj'
  - name: slotName
    value: '$(Build.SourceBranchName)'
  - name: DeployPackage
    value: '$(Build.ArtifactStagingDirectory)/brf-fnc-http-sbus'



jobs:

- job: BuildSolution
  displayName: 'Build Function'
  steps:

# ------------------------------------------------------------ B U I L D --------------------------------------------------
  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: 'build'
      projects: $(project)

# ------------------------------------------------------------ P U B L I S H --------------------------------------------------

  - task: DotNetCoreCLI@2
    displayName: Publish
    inputs:
      command: 'publish'
      publishWebProjects: false
      projects: $(project)
      arguments: '-c release'
      zipAfterPublish: true
      modifyOutputPath: false
  

# ------------------------------------------------------------ D E P L O Y --------------------------------------------------        
  - task: AzureFunctionApp@1
    displayName: Deploy Azure Function
    inputs:
      azureSubscription: $(azureSubscription)
      appType: 'functionApp'
      appName: $(appName)
      package: '$(System.DefaultWorkingDirectory)/**/*.zip'
      resourceGroupName: $(resourceGroupName)
      slotName: '$(slotName)'
      deployToSlotOrASE: false
      deploymentMethod: 'auto'   

