trigger:
  batch: true
  branches:
    include:
      - dev
      - qas
      - master
      - main

variables:
  - name: project
    value: 'src/Template.WebApiMvc'
  - name: WebAppName
    value: 'brf-api-template-webapimvc'
  - name:  resourceGroupName
    value: 'BRF-RG-BRFTEMPLATES'
  - name: azureSubscription
    value: 'brf-sc-rg-brftemplates'
  - name: solution
    value: '**/*.sln'
  - name: buildPlatform
    value: 'Any CPU'
  - name: buildConfiguration
    value: 'Release'
  - name: BuildParameters.RestoreBuildProjects
    value: '**/*.csproj'
  - name: slotName
    value: 'dev'
  - name: DeployPackage
    value: '$(Build.ArtifactStagingDirectory)/Template.WebApiMvc'

resources:
  repositories:
    - repository: devops
      type: git
      name: TemplateDevOps-NetCore/devops
      ref: main

extends:
  template: build-dotnet-lnx.yml@devops
